
.material-symbols-outlined {
   position: absolute;
   margin-top: -11%;
   margin-left: 320px;
   font-size: 690px;
   color: rgb(4, 5, 77);
   font-variation-settings:
    'FILL' 0,
    'wght' 150,
    'GRAD' 0,
    'opsz' 30
}

header {
   display: block;
   position: relative;
   margin-left: 10px;
   margin-top: 10px;
   height: 15px;
   width: 700px;
}

.overlay {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -100%;
   margin-left: 550px;
   width: 100%;
   height: 90%;
   justify-content: center;
   text-align: center;
}

/* Estiliza a caixa da pop-up */
.popup {
   position: absolute;
   background: #ffffff;
   padding: 10px;
   margin-left: 25px;
   margin-top: 10%;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   width: 100px;
}

button {
   display: block;
   margin-left: 10px;
   margin-top: 60px;
   margin-bottom: 40px;
   border-radius: 20px;
   font-size: 35px;
   color: rgb(4, 5, 77);
   background-color: rgb(255, 255, 255);
   border-color: rgb(4, 5, 77);
}

main {
   position: absolute;
   margin-top: -7%;
}

h1 {
 margin-top: -3%;
 font-size: 34px;
 margin-left: 335px;
 margin-right: 330px;
 background-color:  rgb(255, 255, 255);
 border-style: double;
 border-color: rgb(4, 5, 77);
 border-width: 2px;
 border-radius: 5px;
 color: rgb(4, 5, 77);
font-family: "Barrio", system-ui;
}

body {
   background-color: lightblue;
}

h3 {
   position: relative;
   margin-left: 22px;
   margin-top: -0.5%;
   color: rgb(4, 5, 77);
   font-family: "Barrio", system-ui;
   font-size: 28px; 
}
.popup-content {
   position: absolute;
   background: white;
   margin-left: 25px;
   border-radius: 10px;
   align-items: center;
}
.popup-button {
   margin-top: 10px;
   padding: 5px 10px;
   align-items: center;
   background-color: blue;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   margin-left: 80px;
   font-size: 15px;
}
input {
   padding: 5px;
   margin-top: 10px;
   display: block;
   width: 70%;
   margin-left: 35px;
   text-align: center;
}
.error {
   color: red;
   font-size: 14px;
   margin-top: 5px;
}
audio {
   position: absolute;
   margin-top: 580px;
   margin-left: 150px;
}

.overlay2 {
   display: none; /* Escondida por padrão */
    position: fixed; /* Cobrir toda a tela */
    top: 0;
    left: 0;
    width: 100%; /* Cobrir toda a largura */
    height: 100%; /* Cobrir toda a altura */
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente (opcional) */
    z-index: 1000;
}
.popup2 {
   background:rgb(115, 195, 233);
   padding: 50px;
   border-radius: 30px;
   text-align: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   width: 300px;
}
.popup3 {
   background: rgb(115, 195, 233);
   padding: 50px;
   border-radius: 10px;
   text-align: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
   width: 400px;
   max-height: 80vh; /* 80% da altura da viewport */
   overflow-y: auto;
}
.botaoVoltar {
   position: absolute;
   margin-top: 300px;
   padding: 1px 5px;
   width: 420px;
   height: 100px;
   align-items: center;
   background-color: blue;
   color: white;
   font-family: "Barrio", system-ui;
   cursor: pointer;
   border-radius: 10px;
   margin-left: 460px;
   font-size: 40px;
}
.popup-button2 {
   margin-top: 10px;
   padding: 5px 10px;
   align-items: center;
   background-color: rgb(4, 5, 77);
   color: white;
   cursor: pointer;
   border-radius: 10px;
   margin-left: 150px;
   font-size: 15px;
}
.botoesDireita{
   position: absolute;
   margin-left: 1120px;
   display: block;
   margin-top: 12%;
   margin-bottom: 40px;
   border-radius: 20px;
   font-size: 28px;
   color: rgb(4, 5, 77);
   border-color: rgb(4, 5, 77);
   width: 20px;
}
.botoesEsquerda{
   position: absolute;
   margin-left: 90px;
   display: block;
   margin-top: 90px;
   margin-bottom: 40px;
   border-radius: 20px;
   font-size: 28px;
   color: rgb(4, 5, 77);
   border-color: rgb(4, 5, 77);
   width: 20px;
}

.overlay3 {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -1300%;
   margin-left: 410px;
   width: 300px;
   height: 90%;
   justify-content: center;
   text-align: center;
}

.overlay4 {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -1690%;
   margin-left: 410px;
   width: 300px;
   height: 90%;
   justify-content: center;
   text-align: center;
}
.overlay5 {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -1300%;
   margin-left: -615px;
   width: 300px;
   height: 90%;
   justify-content: center;
   text-align: center;
}

.overlay6 {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -1860%;
   margin-left: -610px;
   width: 300px;
   height: 90%;
   justify-content: center;
   text-align: center;
}

.overlay7 {
   display: none; /* Escondida por padrão */
   position: absolute;
   margin-top: -330%;
   margin-left: -700px;
   width: 450px;
   height: 90%;
   justify-content: center;
   text-align: center;
}

